# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# bin folder
bin/*
!bin/.gitkeep

# vim backup tuff
*.swp
*.~

# emacs and gedit backup stuff (yes, I edit with gedit, I'm not proud)
*~
*#

# generated asc/lst files
test/integration/full/*.asc
test/integration/full/*.lst
test/integration/semantic/*.asc
test/integration/semantic/*.lst
test/integration/syntax/*.asc
test/integration/syntax/*.lst
test/integration/unsolved_syntax_issues/*.asc
test/integration/unsolved_syntax_issues/*.lst
test/unit/asctests/test*.asc
__*.asc
# python compiled files
*.pyc
